# Configurações de credenciais (não versionar arquivo real .env)
# Copie este arquivo para .env e preenchcha com dados reais

EMAIL_LOGIN=seu_email@example.com
SENHA_LOGIN=sua_senha_aqui
URL_HOME=https://limaepegolo.elawio.com.br/telainicial
URL_PASTA=https://limaepegolo.elawio.com.br/processo/details/24311
